// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//::-webkit-input-placeholder {
//  color: #428bca !important;
//}
//
//:-moz-placeholder { /* Firefox 18- */
//  color: #428bca !important;
//}
//
//::-moz-placeholder {  /* Firefox 19+ */
//  color: #428bca !important;
//}
//
//:-ms-input-placeholder {
//  color: #428bca !important;
//}

#new-branch-name,
#new-leaf-name,
#new-leaf-url {
  color: #3071a9;
}

//#folder-actions-buttons {
//  float:right;
//}

//#folder-actions-buttons button{
//  background-image: linear-gradient(to bottom, #ffffff 0%, #e6e6e6 100%);
//  background-repeat: repeat-x;
//  border-color: #ccc;
//  color: black;
//}

#friends-container {
  float: right;
}

.selected-tree:focus,
.selected-tree {
  background: white;
  color: #3071a9;
}


.folder-input-container {
  display: none;
}

.folder-input-container.active {
  display: block;
}

.tree-actions {
  min-width: 90px;
}

.tree-branch-actions {
  border-radius: 20px;
  background-image: linear-gradient(to bottom, #ffffff 0%, #e6e6e6 100%);
  background-repeat: repeat-x;
  border-color: #ccc;
  color: black;
}

.tree-leaf-actions button {
  border: 1px solid #000000;
  border-radius: 20px;
  background: #000000;
}

.friend-tree-branch-action-follow {
  cursor: pointer;
}