// Place all the styles related to the Friend controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

button {
  z-index: 2
}

#tree-canvas-container {
  position:relative;
  display: inline-block;
}

#tree-canvas {
//  height: 100%;
//  width: 100%;

//  position: absolute;
//  left: -500px;
//  top: -250px;
//  z-index: 2;
  border: 1px solid brown;

}


#tip-canvas {
  display: none;
  background-color: transparent;
//  background: red;
  position: absolute;
  left: 0px;
  top: 0px;
  cursor: pointer;
  width: 16px;
  height: 16px;

//  z-index: 3;
//  width: 100px;
//  height: 25px;
}

#tree-canvas-stats-btn {
  opacity: 0.0;
}

#tree-canvas-stats-menu {
  top: 10px;
  left: 15px;
  opacity: 0.9;
  min-width: 20px;
}

#tree-canvas-stats-menu > li > a {
  padding: 3px 10px;
}

#tree-canvas-stats {
  font-size: 16px;
  position: absolute;
}

.tooltip.fade.in {
  word-break: break-word;
}